<launch>
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find simulator)/rviz/sim.rviz" />
    
    <node name="simulator" pkg="simulator" type="run_simulation.py" output="screen" cwd="node">
        <rosparam command="load" file="$(find simulator)/launch/simulator_params.yaml" />
    </node>
</launch>
